*{
font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #eef6fb;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.cities{
  display: flex;
  width:50vw;
  justify-content: space-around;
  padding:30px 0;
}

.weatherContainer{
  display: flex;
  flex-direction: column;
  background-color: #eef6fb;
  width:50vw;
  height: 65vh;
  border: 4px solid white;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #ccc;
}

.today{
  border-bottom: 4px solid white;
  height: 60%;
}

button{
  background-color: #eef6fb;
  border: none;
  font-size: 1.5em;
  font-weight:300;
}
.activeButton{
  color:#64b1e6;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}